<div class="container mt-3">
    <div class="row">
        <div id="primer" class="col-sm-12 col-md-12 col-lg-4">
            <img id="logo" src="/images/ico.webp" alt="INSURICARE">
        </div>
        <!-- <div class="col-sm-12 col-md-12 col-lg-4  bg-info d-flex justify-content-center align-content-center">
            <div class="card"></div>
        </div> -->
        <div class="col-sm-12 col-md-12 col-lg-8 d-flex justify-content-center align-content-center">
            <div class="row">
                <div class="col-12">
                    <h1 style="color: var(--b);">Contáctanos</h1>
                    <h3 style="color: var(--b);">¡Estamos aquí para ayudarte! Puedes comunicarte con nosotros a través de nuestras plataformas oficiales.</h3>
                    <h4 style="color: var(--b); margin-top: 50px;">Además, si tienes alguna consulta específica, escríbenos directamente por WhatsApp para recibir una respuesta rápida y personalizada:</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-end mt-2">
            <div class="col-2">

            </div>
            <div class="col-2 d-flex justify-content-end">
                <img src="/images/facebook.png" alt="" style="width: 60px;">
            </div>
            <div class="col-2 d-flex justify-content-end">
                <img src="/images/instagram.png" alt="" style="width: 60px;">
            </div>
            <div class="col-2 d-flex justify-content-end">
                <a href="https://api.whatsapp.com/send?phone=525621117522" target="_blank" class="whatsapp-btn">
                    <img src="/images/whatsapp.png" alt="Contactar por WhatsApp" style="width: 60px;">
                </a>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <img src="/images/gorjeo.png" alt="" style="width: 60px; background-color: var(--b);">
            </div>
            <div class="col-2 d-flex justify-content-end">
                <img src="/images/youtube.png" alt="" style="width: 60px;">
            </div>
        </div>
    </div>
</div>