<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 id="slog">Control total de tu hogar, en cualquier lugar.</h2> <br>
      <h3 style="color: var(--n);">Sabias Que?...</h3>
      <div class="row">
        <div class="col-6">
          <p id="infoone"><strong>Tasa de Victimización:</strong>En 2023, 27.5% de los hogares en México reportaron que
            al menos uno de sus integrantes
            fue víctima de un delito, lo que incluye robos a casa habitación. <br> <br>

            <strong>Impunidad:</strong>Se estima que casi el 100% de los robos a casa habitación quedan en la impunidad,
            lo que genera
            desconfianza en la autoridad y puede influir en la decisión de las personas de denunciar. <br> <br>

            <strong>Tendencia de Denuncias:</strong>En junio de 2024, se reportó que hubo un 20% menos de denuncias por
            robo a casa
            habitación en comparación con años anteriores. <br>
          </p>

          <button class=" " onclick="window.open('https://drive.google.com/file/d/1Ul1YmIk5nJ_KH5cyIpyyk3CBEYkjYwQY/view?usp=drive_link', '_blank')">
            Descarga
            <div id="clip">
                <div id="leftTop" class="corner"></div>
                <div id="rightBottom" class="corner"></div>
                <div id="rightTop" class="corner"></div>
                <div id="leftBottom" class="corner"></div>
            </div>
            <span id="rightArrow" class="arrow"></span>
            <span id="leftArrow" class="arrow"></span>
        </button>

        </div>
        <div class="col-6">
          <h3><strong style="color: var(--n);">¡Tranquilidad en casa, sin gastar de más!</strong></h3><br><br>
          <p style="color: var(--g);">
          ¿Te preocupa la seguridad de tu hogar? ¿Deseas un sistema de protección confiable sin pagar una fortuna? <br><br>

          Presentamos <strong style="color: var(--v);">Securitas</strong>, la solución inteligente para proteger tu casa sin comprometer tu
          presupuesto.

          <strong style="color: var(--v);">Securitas</strong> te ofrece: <br><br>

          Cierre de seguridad para puertas y ventanas: Un sistema de cierre robusto que dificulta el acceso no
          autorizado. <br>
          Alerta temprana de fugas: Detecta fugas de agua y gas, evitando daños costosos y accidentes. <br>
          Monitoreo de movimiento: Recibe notificaciones en tu celular si se detecta movimiento sospechoso en tu hogar. <br><br>
          <strong style="color: var(--v);">Securitas</strong> es fácil de instalar y usar, brindándote la tranquilidad que necesitas sin gastar de
          más.

          Confía en Securitas para proteger lo que más quieres.
          </p>

        </div>
      </div>
      <p>

      </p>

    </div>
  </div>

</div>


<!-- ! ng serve --host 0.0.0.0 --port 4200 -->
<!-- ! code ./ -r abre la carpeta del proyecto -->
<!-- ! git config --global alias.push "push -u origin main -f" -->
