/* *{
    background-color: black;
} */

#conatiner{
    background-color: var(--b);
    
}
img {
    height: 250px;
}
#cabe{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 80px;
    color: black;
}
h2{
    font-size: 60px;
    color: black;
}

h4{
    font-size: 30px;
    color: grey;
}

.row {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#colh11{
    margin: 0px;
    padding: 0px;
}

#colh22{
    margin: 0px;
    padding: 0px;
}

#h11 {
    display: flex;
    justify-content: end;
    padding: 0px;
    margin: 15px;
    font-size: 155px;
}

#r2 {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    }

#h22 {
    display: flex;
    justify-content: start;
    padding: 0px;
    margin: 0px;
    font-size: 155px;
}

#coli1{
    display: flex;
    justify-content: center;
    text-align: center;
}

#coli2{
    display: flex;
    justify-content: center;
}

/* !responsive tablet */
@media (max-width: 769px){
    #coli1{
        text-align: center;
        margin-top: 80px;
        margin-bottom: -60px;
    }
    #row1{
        background-color: yellow;
    }
}

/* !responsive phone */

@media (max-width: 431px) {
    #r2, #colh22, #colh11 {
        display: none;
    }
    #cabeh, #coli1, #coli2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #coli2{
        margin-top: 120px;
    }
}