<div id="conatiner" class="container-fluid">
    <div class="row">
        <div id="cabe" class="col-lg-12 mt-2">
            <h1 id="cabeh">Page Not Found</h1>
        </div>
    </div>
    <div id="row1" class="row mb-md-5">
        <div id="colh11" class="col-lg-4 col-md-3">
            <h1 id="h11">4</h1>
        </div>
        <div id="r2" class="col-lg-4 col-md-6" >
            <img src="images/404.webp" alt="">
        </div>
        <div id="colh22" class="col-lg-4 col-md-3">
            <h1 id="h22">4</h1>
        </div>
    </div>
    <div id="coli1" class="row" >
        <div  class="col-lg-12 mt-5"><h2>This is not the way</h2>.</div>
    </div>
    <div class="row" style="margin-top: -20px;">
        <div id="coli2" class="col-lg-12"><h4>- LCK2488</h4></div>
    </div>

</div>