<div class="container mt-5">
  <div class="row mb-5">

    <div id="door" class="col-6">
      <h3>Puertas</h3>
      <!-- ? boton 1 -->
      <div class="slideThree">
        <input type="checkbox" value="None" id="slideThree" name="check" checked />
        <label for="slideThree"></label>
      </div>
      <!-- ? boton 1 -->
    </div>

    <div id="window" class="col-6">
      <h3>Ventanas</h3>
      <!-- ? boton 1 -->
      <div class="slideThree">
        <input type="checkbox" value="None" id="slideThree2" name="check" checked />
        <label for="slideThree2"></label>
      </div>
      <!-- ? boton 1 -->
    </div>
  </div>
  <div class="row mt-5">
    <div id="ligth" class="col-12">
      <div id="ligth2" class="col-4 text-center">
        <h3>Luces</h3>
        <!-- ? boton 1 -->
        <div class="slideThree">
          <input type="checkbox" value="None" id="slideThree3" name="check" checked />
          <label for="slideThree3"></label>
        </div>
        <!-- ? boton 1 -->
      </div>
    </div>
  </div>

</div>
