<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <nav id="nav1" class="fixed-top d-flex mt-3" style="border-radius: 30px; height: 60px;">
                <h3 id="insu" class="align-content-center mt-1">INSURICARE</h3>
                <div class="align-content-center justify-content-evenly" style="margin-left: 830px;">
                    <img id="imageus" src="/images/casa-inteligente.png" alt="Ir a Home">
                    <img id="imageusu" src="/images/computadora-portatil.png" alt="Ir al Login" (click)="irAlLogin()">
                </div>
            </nav>
        </div>
    </div>
</div>